body {
  width: 980px;
  margin: 0 auto;
}

#main-container {
  width: 100%;
  background: red;
}

#header {
  width: 90%;
  margin: 0 auto;
  background: blue;
  height: 200px;
}

#content {
  width: 90%;
  margin: 0 auto;
  background: green;
  height: 600px;
}

#footer {
  width: 90%;
  margin: 0 auto;
  background: yellow;
  height: 200px;
}
